body {
  background-color: #f0f2f5;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #333;
  height: 100vh;
  overflow: hidden;
}

body.dark-mode {
  background-color: #1c1c1c;
  color: white;
}

.sent {
  background-color: #4a90e2 !important;
  color: white !important;
  align-self: flex-end;
}

.received {
  background-color: #f1f0f0 !important;
  color: #333 !important;
}

body.dark-mode .received {
  background-color: #555 !important;
  color: white !important;
}

body.dark-mode .sent {
  background-color: #002855 !important;
  color: white !important;
}