body {
  background-color: #f0f2f5;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #333;
  height: 100vh;
  overflow: hidden;
}

body.dark-mode {
  background-color: #1c1c1c;
}


.App {
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App header {
  background-color: #4a90e2;
  height: 10vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

body.dark-mode .App header{
  background-color: #002855
}

.App header h1 {
  font-size: 1.5rem;
}

.header-buttons {
  display: flex;
  align-items: center;
}

.dark-mode-toggle {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.dark-mode-toggle img {
  width: 30px;
  height: 30px;
}

.App section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  background-color: white;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 10vh; /* Adjust for header height */
  height: 90vh;
}

body.dark-mode .App section {
  background-color: #1c1c1c;
}

main {
  padding: 10px;
  flex-grow: 1;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  padding-bottom: 12vh; /* Added padding to prevent last message from being hidden */
}

main::-webkit-scrollbar {
  width: 0.25rem;
}

main::-webkit-scrollbar-track {
  background: #e0e0e0;
}

main::-webkit-scrollbar-thumb {
  background: #4a90e2;
  border-radius: 10px;
}

form {
  height: 10vh;
  position: fixed;
  bottom: 0;
  background-color: white;
  width: 100%;
  display: flex;
  font-size: 1.25rem;
  border-top: 1px solid #ddd;
}

body.dark-mode form {
  background-color: #333;
  border-top: 1px solid #888888;
}

form input {
  line-height: 1.5;
  width: 80%;
  font-size: 1.25rem;
  padding: 10px;
  border: none;
  outline: none;
  margin:0;
}

body.dark-mode form input {
  background-color: #1c1c1c;
  color: white;
}

form button {
  width: 20%;
  background-color: #4a90e2;
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

body.dark-mode form button{
  background-color: #002855
}


button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.sign-in {
  color: white;
  background: #4a90e2;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 1.25rem;
  cursor: pointer;
}

.sign-out {
  background: #d9534f;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
}

ul, li {
  text-align: left;
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  max-width: 70%;
  margin-bottom: 12px;
  line-height: 1.5;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  text-align: left;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  word-wrap: break-word;
}

.message {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.sent {
  flex-direction: row-reverse;
}

.sent p {
  background: #4a90e2;
  color: white;
  align-self: flex-end;
}

.received p {
  background: #f1f0f0;
  color: #333;
}

body.dark-mode .received p {
  background: #555;
  color: white;
}
body.dark-mode .sent p {
  background: #002855;
  color: white;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 10px;
}

.send-icon{
  width: 45px;
  height: 45px;
  margin: 0 10px;
  border-radius: 0%;
}

@media (max-width: 768px) {
  .send-icon{
    width: 30px;
  height: 30px;
  }
}

@media (max-width: 600px) {
  .send-icon{
    width: 25px;
  height: 25px;
  margin-right: 20px;
  }

  .sign-out {
    padding: 10px 10px;
  }
}

@media (max-width: 500px) {
.App header {
  padding: 5px;

}}

@media (max-width: 350px) {
.App header h1 {
  font-size: 1.25rem;
}
.App header {
  padding: 10px 10px;
}
.sign-out {
  padding: 5px 3px;
  font-size: 0.8rem;
  margin-right:5px;
}
}